

<div class="index-wrapper">
<p style="color: white">Current user : <%= current_user.id %></p>
<h2 style="color: white; margin-left: 20px;">Pick your venue :</h2>
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <div class="chosen-float-overlay edit-venues">
      <%= render 'squad/edit-components/chosen-venues-vote-card' %>
    </div>
  </div>
</div>


<div class="contribution-wrapper">
    <%= render 'squad/edit-components/contribution-input' %>
</div>

<div class="squad-wrapper">
  <div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1">
    <div class="squad-container">

      <%= render 'squad/edit-components/squad-member-card' %>
    </div>
    </div>
  </div>
</div>



<%= link_to squad_path(@squad.id) do %>
   <button id="proceed-to-create-squad-btn" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" style="margin-left: 10px; margin-right: 20px;">
    <i class="material-icons">arrow_right</i>
  </button>
<% end %>
