<div class="container">

  <div class="squad-row">
    <div class="squad-cards">
      <%= render 'squad/edit-components/user-squad-card' %>
      <div class="build-squad">
        <%= render 'squad/edit-components/build-squad-form' %>
      </div>
      <%= render 'squad/edit-components/squad-member-card' %>
    </div>

    <div class="contribution-row">
      <%= render 'contribution-input' %>
    </div>

    <div class="vote-row">
      <div class="chosen-venues-vote-cards">
        <%= render 'squad/edit-components/chosen-venues-vote-card' %>
      </div>
    </div>

  </div>
</div>
