<div class="contribution-head">
<!-- <div class="container-fluid"> -->
  <div class="container">
    <div class="row">
      <%= render 'shared/package-cards' %>
      <div class="hidden-xs">
        <%= render 'squad/edit-components/package-progress-effect' %>
      </div>
    </div>
  </div>
<!-- </div> -->
</div>

<div class="contribution-wrapper">
    <%= render 'squad/edit-components/contribution-input' %>
</div>

<div class="squad-wrapper">
  <div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">

    <div class="squad-container">

      <%= render 'squad/edit-components/squad-member-card' %>
    </div>
    </div>
  </div>
</div>


<%= link_to squad_path(@squad.id) do %>
   <button id="proceed-to-create-squad-btn" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" style="margin-left: 10px; margin-right: 20px;">
    <i class="material-icons">arrow_right</i>
  </button>
<% end %>

<!-- DEBUG INFO -->
<p> Chosen venue : <%= @squadChosenVenue.venue.name %></p>
<!-- DEBUG INFO -->

