
<div class="container">
  <div class="row">
<div class="index-wrapper">
<!-- DEBUG INFO -->
<!-- <div hidden> -->
  <div hidden>
    <p style="color: white; margin-top: 50px;">Current user : <%= current_user.id %> | <%= current_user.first_name %></p>
    <ul>
      <% @squad.squadmembers.each do |member| %>
        <li style="color: white">user : <%= member.user.id %> | member : <%= member.id %> | venue : <%= member.squadchosenvenue_id %></li>
      <% end %>
    </ul>

    <ul>
      <% @squad.squadchosenvenues.each do |cvenue| %>
        <li style="color: white"> cvenue.id = <%= cvenue.id %> | <%= cvenue.venue.name %></li>
      <% end %>
    </ul>
    <!-- DEBUG INFO -->
  </div>

  <!-- actual code for the page  -->
  <div class="hidden-xs col-md-3">
    <div class="display-squad">
      <% @squad.squadmembers.each do |squadmember| %>
        <%= render 'squad/sidekick-components/squadmember-list-recent', user: squadmember.user, squad: @squad, options: 'question' %>
      <% end %>
    </div>
  </div>
    <div class="col-xs-12 col-sm-10 col-md-9">
      <div class="row" style="margin-top: 20vh; margin-bottom: 60px">
        <%= render 'squad/edit-components/chosen-venues-vote-card' %>
      </div>
    </div>
</div>

  <div id="shOverlay" class="overlay">

      <!-- Button to close the overlay navigation -->
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

      <!-- Overlay content -->
      <div class="overlay-content">
        <%# render partial: "/venue/index_components/show-partial", locals: {venue: venue } %>
      </div>

  </div>

<div class="row">
  <div class="col-xs-12">
    <div style="margin: 50px auto !important; width: 500px; text-align: center;">
        <h4 id="status-display" class="message-waiting-venue-choose"style="display: none;"></h4>
      <!-- Raised button -->

    </div>
  </div>
</div>
<!-- FAB button -->

      <div class="progress-btn-container">
      <% if @squad.squadmembers.find_by(user: current_user).squadchosenvenue_id.nil?  %>
      <div class="svg-wrapper" data-btn-confirm-venue="first_step">
        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
          <rect id="shape" height="40" width="150" />
          <div id="text">
            <div class="mint">
              <!-- <i class="fas fa-arrow-right"></i> -->
              <i class="material-icons">lock</i>
            </div>
          </div>
        </svg>
      </div>

      <div class="svg-wrapper" id="member-confirm-venue-btn" data-btn-confirm-venue="second_step" style="display: none;">
        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
          <rect id="shape" height="40" width="150" />
          <div id="text">
            <div class="mint">
              Confirm vote
            </div>
          </div>
        </svg>
      </div>
      <% end %>
      <div class="svg-wrapper" id="member-locked-venue-btn" style="display: none;">
        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
          <rect id="shape" height="40" width="150" />
          <div id="text">
            <div class="mint" href="">
              <i class="material-icons">lock</i>
            </div>
          </div>
        </svg>
      </div>

      <%= link_to member_choose_contribution_path(@squad.id, @squad.squadmembers.find_by(user: current_user).id) do %>
        <div class="svg-wrapper" id="member-proceed-venue-btn" style="display: none;">
          <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
            <rect id="shape" height="40" width="150" />
            <div id="text">
              <div class="mint">
                <i class="fas fa-arrow-right"></i>
              </div>
            </div>
          </svg>
        </div>
      <% end %>

<!--       <button id="" class="mdl-button mdl-js-button mdl-button--raised" style="display: none;">
        Locked
      </button>
      <%#= link_to member_choose_contribution_path(@squad.id, @squad.squadmembers.find_by(user: current_user).id) do %>
      <button id="member-proceed-venue-btn" class="mdl-button mdl-js-button mdl-button--raised" style="display: none;">
        Proceed2
      </button>
      <%# end %> -->
    </div>
  </div>
</div>
</div>
</div>
<!-- FAB button -->

<script>

  /* add show overlay */
  function openNav() {
      document.getElementById("shOverlay").style.width = "100%";

    }

  /* Close when someone clicks on the "x" symbol inside the overlay */
  function closeNav() {
    document.getElementById("shOverlay").style.width = "0%";
  }

if (document.getElementById('member-confirm-venue-btn')) {

  document.getElementById('member-confirm-venue-btn').addEventListener('click', (event) => {
    event.preventDefault();
    submitMemberVenueChoice();
  });
}
const getChosenVenue = () => {

  const chosenVenueEl = document.querySelector('.selected-venue');


  if (chosenVenueEl) {
    const chosenVenueId = chosenVenueEl.attributes['data-venue-id'].value;
    return chosenVenueId
  } else {
    alert('please choose a venue');
    return undefined
  }
}

const submitMemberVenueChoice = () => {
    const chosenVenueId = getChosenVenue();

    if (chosenVenueId != undefined) {

      sendAjaxPostMemberVenueChoice(chosenVenueId);

      // delete the venue select btns
      document.querySelectorAll('.blog-card .select-venue-btn').forEach((btn) => {
        btn.remove();
      });

      // todo : update progress message + change class on active progress tab
      const displayTaskMessage = document.querySelector('.display-task-message');
      displayTaskMessage.innerHTML = "Let's wait for your friends to vote!"
      document.querySelector('[element-handle="3"]').classList.remove('current');
      document.querySelector('[element-handle="3"]').classList.add('done');
      document.querySelector('[element-handle="3.1"]').classList.add('current');
    }
}

document.addEventListener('DOMContentLoaded', (event) => {
<% unless @squad.squadmembers.find_by(user: current_user).squadchosenvenue_id.nil?  %>

      const displayTaskMessage = document.querySelector('.display-task-message');
      displayTaskMessage.innerHTML = "Let's wait for your friends to vote!"
      setTimeout((event) => {
        document.querySelector('[element-handle="3"]').classList.remove('current');
        document.querySelector('[element-handle="3"]').classList.add('done');
        document.querySelector('[element-handle="3.1"]').classList.add('current');
      }, 400)


<% end %>
});

const sendAjaxPostMemberVenueChoice = (chosenVenueId) => {
    const authToken = document.querySelector('meta[name="csrf-token"]').content
    const url = '/squad/<%= @squad.id %>/<%= @squad.squadmembers.find_by(user: current_user.id).id %>/choosevenue'

    fetch(url, {
      method: "POST",
      headers: {
        'Content-Type': 'application/json',
        'X-Requested-With': 'XMLHttpRequest',
        'X-CSRF-Token': authToken
      },
      body: JSON.stringify({
                              squadchosenvenue_id: chosenVenueId
                           }),
      credentials: 'same-origin'
    })
      .then((response) => response.json())
      .then((data) => {
        terminateSelectionState();
        // setTimeout((event) => { displayStatus() }, 1000);
        waitingForSquad();
        // displayStatus();

      })
      .catch(console.error);
}

// WIP
const fetchVenueStatus = () => {
    const authToken = document.querySelector('meta[name="csrf-token"]').content
    const url = '/squad/<%= @squad.id %>/choosevenue'

    fetch(url, {
      method: "POST",
      headers: {
        'Content-Type': 'application/json',
        'X-Requested-With': 'XMLHttpRequest',
        'X-CSRF-Token': authToken
      },
      body: JSON.stringify({
                              status: 'fetching',
                           }),
      credentials: 'same-origin'
    })
      .then((response) => response.json())
      .then((data) => { displayStatus(data);
        // return (data);
        // window.location.href = `/squad/${data['id']}/edit`
        // console.log(data['id']);
        // console.log(data);

      })
      .catch(console.error);
}

const terminateSelectionState = () => {
  const btn = document.getElementById('member-confirm-venue-btn');
  $('#member-confirm-venue-btn').fadeOut();
  // $('member-locked-venue-btn').fadeIn();

  console.log('|||||||||||||');
  // remove all select buttons
  // remove all the classes of selected venue
  // remove the proceed btn
}

document.addEventListener("DOMContentLoaded", function(event) {
  if (<%= @squad.squadmembers.find_by(user: current_user).squadchosenvenue_id.nil?%>) {
    console.log('has not yet chosen a venue');
  } else {
    console.log('has chosen a venue, waiting on his friends');
    terminateSelectionState();
    setTimeout((event) => { waitingForSquad(); }, 500);

  }
});

const waitingForSquad = () => {
  setInterval(function(){
    console.log('initializing fetch');
    fetchVenueStatus();
    console.log('done updating');

  }, 1000);
}


const displayStatus = (data) => {
  data.squadmembers.forEach((squadmember) => {
    if (squadmember.squadchosenvenue_id != null) {

      const memberClosedEl = document.querySelector(`[member-closed='${squadmember.user_id}']`);
      const memberOpenEl = document.querySelector(`[member-open='${squadmember.user_id}']`);

      const chosenVenueCardInfo = document.querySelector(`[data-venue-id='${squadmember.squadchosenvenue_id}']`);
      // console.log('-----------------------');
      // console.log(chosenVenueCardInfo);
      // console.log(`[data-chosenvenue-id='${squadmember.squadchosenvenue_id}']`);
      // console.log('-----------------------');

      // console.log(`[data-chosenvenue-id='${squadmember.squadchosenvenue_id}']`);
      // console.log(chosenVenueCardInfo);

      $(`[member-closed='${squadmember.user_id}']`).fadeOut();
      $(`[member-open='${squadmember.user_id}']`).delay(500).fadeIn();

      // console.log(`[data-user-id='${squadmember.user_id}']`);

      if (chosenVenueCardInfo.querySelector(`[data-user-id='${squadmember.user_id}']`)) {
        // console.log('gaby is already present');
      } else {
        chosenVenueCardInfo.prepend(memberOpenEl.parentElement.parentElement.querySelector('img').cloneNode());
      }
      // fade out lock
      // fade in lock_open

    }
  });
  // show locked btn | unlock
  // display people that have yet to rsvp / how many are we still missing

  // let data = fetchVenueStatus();


  // $('#member-proceed-venue-btn').fadeIn();
  $('#status-display').fadeIn();

  console.log('--------');
  console.log(data);
  console.log(data.squad.id);
  const statusDisplayEl = document.getElementById('status-display')

  if (data.status.ready) {
      $('#member-locked-venue-btn').fadeOut();
      $('#member-proceed-venue-btn').delay(500).fadeIn();
      statusDisplayEl.innerHTML = `We have enough votes! Lets get going!`;
  } else {
    $('#member-proceed-venue-btn').fadeOut();
    $('#member-locked-venue-btn').delay(500).fadeIn();
    statusDisplayEl.innerHTML = `${data.status.missing_cnt} more vote to go!`;
  }
}
</script>
