<% venue =  @squadChosenVenue.venue %>

<div class="container">
  <div class="row">
    <h1 class="show-title">TONIGHT IS THE NIGHT!</h1>
  </div> <!-- title row -->

  <div class="row">

    <div class="col-xs-6 col-md-4 col-xs-offset-3 col-md-offset-0">
<!--       <div class="squad-title">
        <h2>SQUAD TITLE</h2>
      </div> -->
      <!-- <div class="squad-details"> -->
        <% @squad.squadmembers.each do |squadmember| %>

        <div>
         <%= render 'squad/sidekick-components/squadmember-list-recent', user: squadmember.user, options: 'squad-show' %>
        </div>
        <% end %>
      <!-- </div> -->
    </div>

    <div class="col-xs-6 col-md-3 col-xs-offset-3 col-md-offset-1">
        <div class="venue-details" style:"margin: auto; max-width: 300px">
          <%= render 'squad/show_components/confirmed-venue-card', venue: venue %>
        </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="package-detail">
        <%= render 'shared/final-package-card' %>
      </div>
    </div>

  </div> <!--  info row end -->

  <div class="row" style="margin-top: 25px">
    <div class="col-xs-6 col-md-4 col-xs-offset-3 col-md-offset-0 show-contributions">

      <h3>Group Contribution</h3>
      <p style="color: white !important; font-size: 28px;"><sup style="padding-right: 4px; font-size: 20px;">$</sup><%= @squadTotalContribution - @yourContribution %></p>
      <!-- <p><sup>$</sup>175</p> -->
    </div>

    <div class="col-xs-6 col-md-3 col-xs-offset-3 col-md-offset-1 show-contributions">
        <h3 style="color: #F90C78 !important;">Your Contribution</h3>
        <p style="color: #F90C78 !important; font-size: 28px;"><sup style="padding-right: 4px; font-size: 20px;">$</sup><%= @yourContribution %></p>
    </div>

    <div class="col-xs-12 col-md-4 show-contributions">
        <h3 style="color: #7CFFCB !important;">Total Contribution</h3>
        <p class="glo-up-txt" style="color: white !important; font-size: 34px;"><sup style="padding-right: 4px; font-size: 20px;">$</sup><%= @squadTotalContribution %></p>
    </div>

  </div> <!-- contribution info -->
</div> <!-- body end -->

<div class="progress-btn-container">
      <div class="svg-wrapper" id="qr-code">
        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
          <rect id="shape" height="40" width="150" />
          <div id="text">
            <a class="mint" style="font-size: 15px;"><span class="spot"></span>
              Get QR Code
            </a>
          </div>
        </svg>
      </div>
</div>

  <dialog class="mdl-dialog">
    <h4 class="mdl-dialog__title" style="color: #030027  ">Gratz!</h4>
    <div class="mdl-dialog__content">
      <p style="font-size: 15px;">
        Please present this code at the door
      </p>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/220px-QR_code_for_mobile_English_Wikipedia.svg.png" alt="">
    </div>
    <div class="mdl-dialog__actions">
      <button type="button" class="mdl-button close">Close</button>
      <!-- <button type="button" class="mdl-button">Disagree</button> -->
    </div>
  </dialog>

   <script>
    var dialog = document.querySelector('dialog');
    var showDialogButton = document.querySelector('#qr-code');
    if (! dialog.showModal) {
      dialogPolyfill.registerDialog(dialog);
    }
    // document.addEventListener('DOMContentLoaded', function() {
    //   dialog.showModal();
    // });
    showDialogButton.addEventListener('click', (event) => {
      dialog.showModal();
    });
    dialog.querySelector('.close').addEventListener('click', function() {
      dialog.close();
    });
  </script>







