<div class="squadmember-list-container mdl-shadow--2dp" data-recent-user-id="<%= user.id %>">
  <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
  <!-- <div class="message-name"> -->
    <!-- <h3>Gab Dehan</h3> -->
    <!-- <p>10/07/17</p> -->
  <!-- </div> -->
  <div class="squadmember-recent-list-name">
    <p><%= "#{user.first_name} #{user.last_name}" %></p>
    <!--     <p>
      I am not sure yet! I might be in Shanghai at this moment... Can I tell you later?
    </p> -->
  </div>
  <div class="sidekick-recent-list-last-row">
    <% if options == 'add' %>
      <%= link_to create_squadmember_path(@squad.id,user.id), { method: :post, remote: true, class: 'mdl-button mdl-js-button mdl-button--fab' } do %>
      <!-- Colored FAB button -->
        <!-- <button class="mdl-button"> -->
          <i class="material-icons" id="add-button">add</i>
        <!-- </button> -->
      <% end %>
    <% elsif options == 'question' %>

          <i class="material-icons" member-closed="<%= user.id %>">lock</i>
          <i class="material-icons" style="display: none;" member-open="<%= user.id %>">lock_open</i>


    <% end %>
  </div>
</div>
