<div class="col-xs-12 col-sm-6 col-md-4">
<!-- <div class="blog-card spring-fever mdl-shadow--2dp" data-venue-id="<%= venue.id %>"> -->

<!-- !!!!!!!!!!!!!!!!!!!!!!!! REVERT THIS BEFORE PUSHING TO HEROKU BACK TO 666 !!!!!!!!!!!!!!!! -->
<div class="blog-card mdl-shadow--2dp" data-venue-name="<%= venue.name %>" data-venue-id="<%= venue.id %>"
  style="background: linear-gradient(to left bottom, rgba(5, 25, 55, 0.9), rgba(17, 23, 58, 0.8), rgba(31, 18, 60, 0.7), rgba(44, 11, 58, 0.6), rgba(56, 0, 54, 0.5)),
    url('<%= cl_image_path venue.photo, with: 300, height: 400, crop: 'fill'; %>') no-repeat center;
    /*background-color: ;*/
    /*background-blend-mode: multiply;*/

    /*filter: contrast(120%);*/
    /*-webkit-filter: contrast(120%);*/
    -webkit-filter: saturate(1.5) contrast(120%);
    -webkit-box-shadow:4.5px 4.5px 10px -2px rgba(124, 255, 203, 0.2) ;
    -moz-box-shadow:4.5px 4.5px 10px -2px rgba(124, 255, 203, 0.2) ;
    box-shadow:4.5px 4.5px 10px -2px rgba(124, 255, 203, 0.2) ;


    ">
<!-- cl_image_path venue.photo -->



  <div class="title-content">
    <h3><strong><%= venue.name %></strong></h3>
    <div class="intro"><%= '★' * venue.rating.to_i  %></div>
    <div class="intro"><%= '$' * venue.pricing.to_i  %></div>
  </div>

  <!-- <div class="utility-info">
    <ul class="utility-list">
      <li class="comments">12</li>
      <li class="date">03.12.2015</li>
    </ul>
  </div> -->
  <!-- overlays -->
  <!-- <div class="gradient-overlay"></div> -->
  <!-- <div class="color-overlay"></div> -->
  <div class="card-info">
    <ul>
      <li class="card-close-btn">
        <i class="fas fa-times" data-venue-id="<%= venue.id %>"></i>
      <li>
    <%= link_to venue_path(venue.id), remote: true, data: {method: 'get' } do %>
      <i class="fas fa-info-circle" data-venue-id="<%= venue.id %>" onclick="openNav()">
      </i>
    <% end %>
    </li>

  <!-- Raised button with ripple -->
    <li><i class="fas fa-hand-paper select-venue-btn" style="cursor: pointer" data-venue-id="<%= venue.id %>">
    </i></li>
    </ul>
  </div><!-- /.card-info -->
</div><!-- /.blog-card -->
</div>

