<div class="card-index mdl-card mdl-shadow--2dp card-index-small" chosen-venue-id="<%= venue.id %>">
  <%= link_to venue_path(venue.id) do %>
  <% if venue.photo.nil? %>
  <div class="card-index-picture mdl-card__title" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://loremflickr.com/320/240/food');">
    <% else %>
    <div class="card-index-picture mdl-card__title" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
    url(<%= venue.photo %>)">
    <% end %>
    <div class="card-index-title mdl-card__title-text"><%= venue.name %></div>
  </div>
  <% end %>
<!--   <div class="mdl-card__supporting-text">
    <% #venue.description %>
  </div> -->
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      remove
    </a>
  </div>
  <div class="mdl-card__menu">
    <span style="color: white; font-size: 10px;"><%= venue.capacity %></span>

    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">group</i>
    </button>
  </div>
  <div class="mdl-card__menu mdl-card__menu-2">
    <span style="color: white; font-size: 10px; margin-right: 13px;">
      <% if venue.pricing %>
      <% venue.pricing.length.times do  %>
        <i class="material-icons" style="font-size: 21px !important; letter-spacing: -13px !important;">attach_money</i>
      <% end %>
      <% end %>
    </span>
  </div>

</div>
