<!-- current card used for chosen venues select -->
<% @squad.squadchosenvenues.each do |venue| %>
<% chosen_venue = Venue.find(venue.venue_id) %>


<div class="col-xs-6 col-md-4 col-xs-offset-3 col-md-offset-0">
<div class="blog-card mdl-shadow--2dp" data-venue-name="<%= chosen_venue.name %>" data-venue-id="<%= venue.id %>"
  style="background: linear-gradient(to left bottom, rgba(5, 25, 55, 0.9), rgba(17, 23, 58, 0.8), rgba(31, 18, 60, 0.7), rgba(44, 11, 58, 0.6), rgba(56, 0, 54, 0.5)),
    url('<%= cl_image_path chosen_venue.photo, with: 300, height: 400, crop: 'fill'; %>') no-repeat center;
    /*background-color: ;*/
    /*background-blend-mode: multiply;*/

    /*filter: contrast(120%);*/
    /*-webkit-filter: contrast(120%);*/
    -webkit-filter: saturate(1.5) contrast(120%);
    -webkit-box-shadow:4.5px 4.5px 10px -2px rgba(124, 255, 203, 0.2) ;
    -moz-box-shadow:4.5px 4.5px 10px -2px rgba(124, 255, 203, 0.2) ;
    box-shadow:4.5px 4.5px 10px -2px rgba(124, 255, 203, 0.2) ;


    ">

  <div class="title-content">
    <h3><%= chosen_venue.name %></h3>
    <!-- <div class="intro">★★★</div> -->
    <div class="intro"><%= '★' * chosen_venue.rating.to_i  %></div>
    <div class="intro"><%= '$' * chosen_venue.pricing.to_i  %></div>
    <div class="intro squad-votes" data-chosenvenue-id="<%= chosen_venue.id %>"></div>

  </div>

  <!-- <div class="color-overlay"></div> -->
  <div class="card-info">
    <!-- Raised button with ripple -->

    <ul>
      <li>
        <%= link_to venue_path(chosen_venue.id), remote: true, data: {method: 'get' } do %>
        <i class="fas fa-info-circle" data-venue-id="<%= venue.id %>" onclick="openNav()">
        </i>
        <% end %>
      </li>

      <% if @squad.squadmembers.find_by(user: current_user).squadchosenvenue_id.nil?  %>
      <!-- Raised button with ripple -->
        <li><i class="fas fa-hand-paper select-venue-btn" style="cursor: pointer" data-venue-id="<%= venue.id %>">
        </i></li>

      <% end %>
    </ul>


  </div><!-- /.card-info -->
</div><!-- /.blog-card -->
</div>
<% end %>


<script>

  <% unless @squad.squadmembers.find_by(user: current_user).will_be_present %>

  const venues = document.querySelectorAll('.blog-card');
  const venuesBtn = document.querySelectorAll('.blog-card .select-venue-btn');

  venuesBtn.forEach((btn) => {

    btn.addEventListener('click', (event) => {
      console.log(event);
      handleVenueClick(event);

    });
  });

  const handleVenueClick = (event) => {

    venues.forEach((venue) => {
      venue.classList.remove('selected-venue');
    });

    event.currentTarget.parentElement.parentElement.parentElement.parentElement.classList.add('selected-venue');

    $('[data-btn-confirm-venue="first_step"]').fadeOut();
    $('[data-btn-confirm-venue="second_step"]').delay(400).fadeIn();

  };

  <% end %>
</script>
