<% @squad.squadchosenvenues.each do |venue| %>
<% chosen_venue = Venue.find(venue.venue_id) %>

<div class="blog-card spring-fever mdl-shadow--2dp" data-venue-id="<%= chosen_venue.id %>">
  <div class="title-content">
    <h3><%= chosen_venue.name %></h3>
    <!-- <div class="intro">★★★</div> -->
    <div class="intro"><%= '★' * chosen_venue.rating.to_i  %></div>
    <div class="intro"><%= '$' * chosen_venue.pricing.to_i  %></div>
    <div class="intro squad-votes" data-chosenvenue-id="<%= chosen_venue.id %>"></div>

  </div>

  <!-- <div class="color-overlay"></div> -->
  <div class="card-info">
    <!-- Raised button with ripple -->

    <ul>
      <li>
        <%= link_to venue_path(chosen_venue.id), remote: true, data: {method: 'get' } do %>
        <i class="fas fa-info-circle" data-venue-id="<%= venue.id %>" onclick="openNav()">
        </i>
        <% end %>
      </li>

      <!-- Raised button with ripple -->
      <li><i class="fas fa-hand-paper select-venue-btn" style="cursor: pointer" data-venue-id="<%= venue.id %>">
      </i></li>
    </ul>


  </div><!-- /.card-info -->
</div><!-- /.blog-card -->

<% end %>


<script>

  <% unless @squad.squadmembers.find_by(user: current_user).will_be_present %>

  const venues = document.querySelectorAll('.blog-card');
  const venuesBtn = document.querySelectorAll('.blog-card .select-venue-btn');

  venuesBtn.forEach((btn) => {

    btn.addEventListener('click', (event) => {
      console.log(event);
      handleVenueClick(event);

    });
  });

  const handleVenueClick = (event) => {

    venues.forEach((venue) => {
      venue.classList.remove('selected-venue');
    });

    event.currentTarget.parentElement.parentElement.parentElement.parentElement.classList.add('selected-venue');

  };

  <% end %>
</script>
