<div class="body-contribution-container">
<!-- <h2>current user : <%#= current_user.id %></h2> -->
<!-- <h2>contribution : <%#= @squadmember.contribution %></h2> -->
  <!-- Column header -->
  <div class="row">
    <div class="col-xs-12 col-sm-6" style="z-index: 10">
      <h2 class="contribution-header">Your contribution</h2>
    </div>
    <div class="col-xs-12 col-sm-6" style="z-index: 10">
      <h2 class="contribution-header">Group total</h2>
    </div>
  </div>
  <!-- calculated amounts -->
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="div" style="display: flex;">
      <span style="margin-left: auto; padding-right: 4px;" class="total-pink"> $</span>
      <% if @squadmember.contribution != 0 && !@squadmember.contribution.nil? %>
        <h2 class="contribution-cash contribution-personnal"><%= @squadmember.contribution %></h2>
      <% else %>
        <h2 class="contribution-cash contribution-personnal" id="contribution-input"></h2>
      <% end %>

    </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="div" style="display: flex;">
      <span style="margin-left: auto; padding-right: 4px;" class="total-mint"> $</span>
      <h2 class="contribution-cash contribution-total" id="contribution-total">0</h2>

      </div>
    </div>
  </div>

  <% unless @squadmember.contribution != 0 && !@squadmember.contribution.nil? %>
    <div class="slider-container">
      <input class="mdl-slider mdl-js-slider" type="range"
      min="0" max="100" value="25" tabindex="0" id="mdl-slider" style="height: 50px !important">
    </div>
  <% end %>

</div>



<!-- <div class="progress-btn-container">
  <%#= link_to squad_path(@squad.id), { class: "under-svg-button", id: 'member-confirm-contribution-btn' } do %>
  <div class="svg-wrapper" id="proceed-to-create-squad-btn">
    <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
      <rect id="shape" height="40" width="150" />
      <div id="text">
        <div class="mint" href="">
          <i class="fas fa-arrow-right"></i>
        </div>
      </div>
    </svg>
  </div>
  <%# end %>
</div> -->

<div class="progress-btn-container">
    <% if @squad.squadmembers.find_by(user: current_user).contribution == 0 || @squad.squadmembers.find_by(user: current_user).contribution.nil? %>
      <div class="svg-wrapper" id="member-confirm-contribution-btn">
        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
          <rect id="shape" height="40" width="150" />
          <div id="text">
            <a class="mint" href="" style="font-size: 15px; padding-top: 20px !important">
              Confirm
            </a>
          </div>
        </svg>
      </div>
    <% end %>

    <div class="svg-wrapper" data-btn-confirm-contribution="waiting" style="display: none;">
      <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
        <rect id="shape" height="40" width="150" />
        <div id="text">
          <div class="mint">
            <!-- <i class="fas fa-arrow-right"></i> -->
            <i class="material-icons">lock</i>
          </div>
        </div>
      </svg>
    </div>

    <div class="svg-wrapper" data-btn-confirm-contribution="checkout" style="display: none;">
      <%= link_to squad_path(@squad.id) do %>
      <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
        <rect id="shape" height="40" width="150" />
        <div id="text">
          <div class="mint" style="font-size: 15px;">
            <!-- <i class="fas fa-arrow-right"></i> -->
            Checkout
          </div>
        </div>
      </svg>
      <% end %>
    </div>





</div>




<script>


//  WORKING ON THE SLIDER


//  WORKING ON THE SLIDER


if (document.getElementById('member-confirm-contribution-btn')) {


  document.getElementById('member-confirm-contribution-btn').addEventListener('click', (event) => {
    event.preventDefault();
    submitMemberContributionChoice();
  });
}
const getContributionValue = () => {

  const contributionEl = document.getElementById('contribution-input');
  if (contributionEl.innerHTML != undefined) {
    return contributionEl.innerHTML;
  } else {
    alert('please choose a contribution amount!');
  }
}

const submitMemberContributionChoice = () => {

  const contributionValue = getContributionValue();
  console.log('cont value : ');
  console.log(contributionValue);

  if (contributionValue != undefined) {

    sendAjaxPostMemberContributionChoice(contributionValue);

  }

}

const sendAjaxPostMemberContributionChoice = (contributionValue) => {
  const authToken = document.querySelector('meta[name="csrf-token"]').content;
  const url = '/squad/<%= @squad.id %>/<%= @squad.squadmembers.find_by(user: current_user).id %>/choosecontribution';

  fetch(url, {
    method: "POST",
    headers: {
      'Content-Type': 'application/json',
      'X-Requested-With': 'XMLHttpRequest',
      'X-CSRF-Token': authToken
    },
    body: JSON.stringify({ contribution: contributionValue }),
    credentials: 'same-origin'
  })
  .then((response) => response.json())
  .then((data) => {
        submittedMemberContributionChoice();
        waitingForSquadContribution();
      })
  .catch(console.error);

}


const submittedMemberContributionChoice = () => {

  $('#member-confirm-contribution-btn').fadeOut();
  $('.slider-container').fadeOut();
  $('[data-btn-confirm-contribution="waiting"]').delay(600).fadeIn();
  const displayTaskMessage = document.querySelector('.display-task-message');
  displayTaskMessage.innerHTML = "Let's wait for your friends to contribute!"

  setTimeout((event) => {
  document.querySelector('[element-handle="4"]').classList.remove('current');
  document.querySelector('[element-handle="4"]').classList.add('done');
  document.querySelector('[element-handle="4.1"]').classList.add('current');
  }, 400)

}


const waitingForSquadContribution = () => {
  setInterval(function(){
    // console.log('initializing fetch');
    fetchContributionStatus();
    // console.log('done updating');

  }, 200);
}

document.addEventListener('DOMContentLoaded', (event) => {
  console.log(<%= @squad.squadmembers.find_by(user: current_user).contribution %>)
  <% if @squad.squadmembers.find_by(user: current_user).contribution != 0 && !@squad.squadmembers.find_by(user: current_user).contribution.nil? %>
    console.log('starting the loop');
    submittedMemberContributionChoice();

  <% end %>
  setTimeout((event) => { waitingForSquadContribution(); }, 500);

});

const fetchContributionStatus = () => {
  const authToken = document.querySelector('meta[name="csrf-token"]').content;
  const url = '/squad/<%= @squad.id %>/<%= @squad.squadmembers.find_by(user: current_user).id %>/choosecontribution';

  fetch(url, {
    method: "POST",
    headers: {
      'Content-Type': 'application/json',
      'X-Requested-With': 'XMLHttpRequest',
      'X-CSRF-Token': authToken
    },
    body: JSON.stringify({ currentaction: 'status' }),
    credentials: 'same-origin'
  })
  .then((response) => response.json())
  .then((data) => {
      // console.log(data);
      displayStatusContribution(data);
      })
  .catch(console.error);

}

const contributionTotalEl = document.getElementById('contribution-total');
const displayStatusContribution = (data) => {
  let currentUser = <%= current_user.id %>;
  let currentUserVoted = false
  let contributionTotal = 0;
  data.squadmembers.forEach((squadmember) => {

    if (squadmember.contribution != 0 && squadmember.contribution != null) {
      if (squadmember.user_id == currentUser) {
        currentUserVoted = true;
      }

      contributionTotal += squadmember.contribution

      const memberClosedEl = document.querySelector(`[member-closed='${squadmember.user_id}']`);

      $(`[member-closed='${squadmember.user_id}']`).fadeOut();

      $(`[data-contribution-user-id='${squadmember.user_id}']`).delay(500).fadeIn();
      document.querySelector(`[data-contribution-user-id='${squadmember.user_id}']`).innerHTML = `<sup>$</sup>${squadmember.contribution}`
    }
  });

  if (currentUserVoted) {
    console.log('already voted');
  } else {
    contributionTotal += parseInt(document.getElementById('contribution-input').innerHTML);
  }
  if (contributionTotalEl.innerHTML != contributionTotal) {
    contributionTotalEl.innerHTML = contributionTotal;
  }
  if (data.status.ready) {
    console.log(data.status.ready);
      $('[data-btn-confirm-contribution="waiting"]').fadeOut();
      $('[data-btn-confirm-contribution="checkout"]').delay(600).fadeIn();



  }
}




</script>
