<div class="drawer show-container">

    <div class="row" id="venue-info">
    <div class="col-xs-12 col-sm-6">
      <div class="venue-background" style="');">
    <% if venue.photo.nil? %>


        <% else %>
        <div class="venue-background"
        style="
          max-height: 75vh;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.6) 50%),
          url('<%= cl_image_path venue.photo %>')


        ">
        <% end %>


          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
              <div class="align-content-left">
                <div class="row">
                  <div class="col-xs-12">
                    <h1><%= venue.name %>
                    <p><%= venue.address %> </p></h1>
                  </div>
                </div> <!-- row 1 end -->
                <div class="row">
                    <div class="col-xs-12"><p><i class="fas fa-music"></i> <%= venue.music_genre.capitalize %> </p></div>
                    <div class="col-xs-12"><p><i class="fas fa-glass-martini"></i> <%= venue.description %></p></div>
                    <div class="col-xs-6"><p> <% venue.pricing.times do %>
                      <i class="fas fa-dollar-sign"></i>
                     <% end %>
                    </p></div>
                    <div class="col-xs-6"><p><% 3.times do  %>
                      <i class="fas fa-star"></i>
                    <% end %>
                    </p></div>
                    <div class="col-xs-6"><p><i class="fas fa-fire"></i> <%= venue.pricing * 3 %> bookings</p></div>
                    <div class="col-xs-6"><p><i class="fas fa-users"></i> <%= venue.capacity + rand(0..100) %> capacity</p></div>
                </div> <!-- row 2 end -->

              </div>
            </div> <!-- end of first set of venue infos div -->
          </div>



          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
              <div class="venue-social-pictures">
                <div>
                  <%= cl_image_tag('bar-datcha-bar-kabinet')%>
                </div>
                <div>
                  <%= cl_image_tag('bottle-service')%>
                </div>
                <div>
                  <%= cl_image_tag('crew-89808-unsplash')%>
                </div>
              </div> <!-- slick slides end -->
            </div>
          </div> <!-- slick row end -->


        </div>
      </div> <!-- background image -->
    </div>
  </div>
</div>

<style>
  #venue-info h1{
    font-family: 'Megrim';
    font-size: 68px;
    text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #7CFFCB , 0 0 70px #7CFFCB , 0 0 80px #7CFFCB , 0 0 100px #7CFFCB ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  }

  #venue-info p {
    font-size: 18px;
  }
</style>

