<div class="show-container">
    <div class="venue-background" style="background-image: url('<%= cl_image_path @venue.photo %>')">

    <div class="container">
      <div class="row" id="venue-info">

        <div class="col-xs-12 col-md-4">
          <div class="row">
            <div class="col-xs-12">
              <h1><%= @venue.name %>
              <p><%= @venue.address %> </p></h1>
            </div>
          </div>
          <div class="row">
              <div class="col-xs-12"><body><%= @venue.description %> </body></div>
              <div class="col-xs-12"><p><%= @venue.music_genre %> </p></div>
              <div class="col-xs-6"><p>Price: <%= @venue.pricing %> </p></div>
              <div class="col-xs-6"><p>Rating: <%= @venue.rating %> </p></div>
              <div class="col-xs-6"><p>Fans: <%= @venue.review_count %> </p></div>
              <div class="col-xs-6"><p>Capacity: <%= @venue.capacity %> </p></div>
          </div>
        </div>


      </div>
    </div>

  </div>
</div>






